*.o
*.d
*.lo
*.la
.libs
src/fies.options.h
src/fies
src/fies-restore/fies-restore
src/fies-restore/fies_restore.options.h
src/fies-dmthin/fies-dmthin
src/fies-dmthin/fies_dmthin.options.h
src/fies-rbd/fies-rbd
src/fies-rbd/fies_rbd.options.h
src/fies-zvol/fies-zvol
src/fies-zvol/fies_zvol.options.h
config.mak
config.h
config.log
fies.pc
doc/*.1
doc/*.rst
tests/t[0-9]*
