#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@ --builddirectory=build

# Debian stretch has no dh-meson yet...

override_dh_auto_configure:
	meson --buildtype=plain --prefix=/usr build
	meson configure build \
	 -Ddoc=true \
	 -Dtests=true \
	 -Ddmthin=true \
	 -Drbd=true \
	 -Dzvol=false

override_dh_auto_build:
	ninja -C build

override_dh_auto_install:
	DESTDIR=$(PWD)/debian/tmp ninja -C build install
